@use 'colors' as *;

.help-tip {
	cursor: help;
	margin-left: 5px;
	color: $color_1;
}

.dmm-migration-notice {
	padding: 20px;
	margin: 20px 0;
	background: #fff;
	border-left: 4px solid #dc3232;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	
	p {
		margin: 0 0 15px;
		font-size: 14px;
	}
	
	.button {
		margin-right: 10px;
	}
}


.notyf {
  padding-top: 40px;
}