.DS_Store
/logs
.vscode
/node_modules
/vendor
.phpunit.result.cache
/.idea
/.vscode

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env

# CS-Fixer
/.php-cs-fixer.cache