@use 'colors' as *;

.date-selection {
	margin: 20px 0;
	padding: 15px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
}

.date-selector-form {
	display: flex;
	align-items: center;
	gap: 10px;
	
	label {
		font-weight: 500;
	}
	
	input[type="date"] {
		padding: 5px 10px;
		border: 1px solid #ddd;
		border-radius: 4px;
	}
}

input[type="date"] {
	&::-webkit-calendar-picker-indicator {
		display: none;
	}
	appearance: textfield;
	-webkit-appearance: textfield;
}

.flatpickr-day.has-event {
	background-color: $background-color_3;
	font-weight: bold;
}

.flatpickr-wrapper {
	border: 1px grey solid;
	border-radius: 4px;
	display: flex !important;
	justify-content: space-between;
	
	input[type="text"] {
		background: none;
		border: none !important;
		width: 100px;
		box-shadow: none;
	}
	
	.dashicons {
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
}

.selectedDateFrom {
	border: 1px grey solid;
	border-radius: 4px;
	display: flex !important;
	justify-content: space-between;
	
	input[type="text"] {
		background: none;
		border: none !important;
		width: 100px;
		box-shadow: none;
	}
	
	.dashicons {
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
}

.selectedDateTo {
	border: 1px grey solid;
	border-radius: 4px;
	display: flex !important;
	justify-content: space-between;
	
	input[type="text"] {
		background: none;
		border: none !important;
		width: 100px;
		box-shadow: none;
	}
	
	.dashicons {
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
}

.flatpickr-day.today {
	border: red 1px solid !important;
	
	&:hover {
		border: red 1px solid !important;
	}
	
	&:focus {
		border: red 1px solid !important;
	}
}