// Farbvariablen
$color_1: #666;
$color_2: #a00;
$color_3: white;
$color_4: #000;
$color_5: #135e96;
$color_6: #212529;

// Hintergrundfarben
$background-color_1: #e9ecef;
$background-color_2: #f5f5f5;
$background-color_3: #569ff730;